.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
}

.category-item {
  flex: 0 0 0%;
  align-self:flex-end ;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: grid;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  font-weight: bolder;
}

.category-selector:checked + label {
  color: white;
}



#document_category_santé + label {
  color: #96CCE2;

}


#document_category_santé:checked + label {
 background-color: #96CCE2;
  border-color: #96CCE2;
  color: white;

}

#document_category_scolarité + label {
  color: #AFA6F9;
}

#document_category_scolarité:checked + label {
  background-color: #AFA6F9;
  border-color: #AFA6F9;
  color: white;
}

#document_category_activités + label {
  color: #81EDAE;
}

#document_category_activités:checked + label {
  background-color: #81EDAE;
  border-color: #81EDAE;
  color: white;
}

#document_category_juridique + label {
  color: #EACF99;
}
#document_category_juridique:checked + label {
  color: white;
  background-color: #EACF99;
  border-color: #EACF99;
}

#document_category_autres + label {
  color: #F4B7B6;
}

#document_category_autres:checked + label {
  background-color: #F4B7B6;
  border-color: #F4B7B6;
  color: white;
}
