/* Your existing CSS */
/* Import page-specific CSS files here. */
@import "home";
@import "pages/show";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: $dark-white;
  overflow-y: scroll;
}

.date-header {
  margin-bottom: 20px;
  font-size: 20px;
  color: #000000;
}

.calendar-container {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 8px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.appointment-section {
  margin: 8px;
}

.date-numbers {
  display: flex;
}

.date-number {
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

.date-number:hover {
  background-color: #f0f0f0;
}

.date-selector {
  color: #000000;
}

.appointment-section {
  position: fixed;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  }

.text-center {
  text-align: center;
}

.card {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 16px;
  color: #fffefe;
  margin-bottom: 10px;
}

.card-text {
  font-size: 13px;
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.btn-primary {
  background-color: #f4b7b6;
  color: #fff;
}

// .btn-primary:hover {
//   background-color: #81edae;
// }

.no-appointments {
  text-align: center;
  color: #777;
  font-size: 18px;
}

.no-appointments h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-appointment-btn {
  margin-top: 20px;
  margin-left: 5px;
  padding: 10px 15px;
  font-size: 16px;
  max-width: 150px;
}

.new-appointment-btn .fa-plus {
  margin-right: 4px;
}

.current-date-selected .date-number {
  background-color: #f4b7b6;
  color: white;
}

.current-date-selected .date-number:hover {
  background-color: #81edae;
}

.flex-hour {
  display: flex;
  position: relative;
}

.smaller-card {
  max-width: 300px;
  margin: 0 auto;
}

.text-black {
  color: #000 !important;
}

.text-grey {
  color: #777 !important;
}

.modifier-icon,
.delete-icon {
  color: white !important;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.delete-icon {
  top: auto;
  bottom: 10px;
}

.card-title, .card-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
