.btn-delete {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #F4B7B6;
  border-color: #F4B7B6;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bolder;
  // margin-left: auto;
  // margin-right: auto;
}
.btn-complete {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #F4B7B6;
  border-color: #F4B7B6;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bolder;
  // margin-left: auto;
  // margin-right: auto;
}
