img {
  border-radius: 5px;
  width: 100%;
}
.img-avatar {
  width: 20px;
  height: 20px;
}
.appointments-details {
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.appointments-infos {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 20px;
}
.appointments-infos p {
  font-size: 12px;
}
.appointments-title-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.appointments-title-parent p {
  font-size: 14px
}
.main-container {
    height: 835px;
    min-height: 100%;
    margin-top: -40px;
}
.btn-back {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #F4B7B6;
  border-color: #F4B7B6;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bolder;
}
.header-show {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-right: -3px;
}
.header-show p {
  color: grey;
  margin-right: 45px;
  text-align: left;
}
#details {
  margin-top: 18px;
  font-size: 15px;
}
