.btn-update {
  position: relative;
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: #F4B7B6;
  border-color: #F4B7B6;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bolder;
  // margin-left: auto;
  // margin-right: auto;
}
.btn-update:hover {
  opacity: 0.7;
}
.btn-complete {
  position: relative;
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #F4B7B6;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  color: #F4B7B6;
  font-weight: bolder;
  // margin-left: auto;
  // margin-right: auto;
}
// .btn-complete a {
//   color: white;
// }
.card-task {
  margin-top: 20px !important;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding: 5px;
  // background-color: #DDA15E;
  border-bottom: 1px solid grey;
  text-decoration: none;
  // border-radius: 5px;
  // text-align: center;
  justify-content: space-between;
  // font-weight: bolder;
  align-items: center;
}
.card-task p {
  margin-bottom: 0px !important;
  font-size: 14px;
}
.card-task img {
  padding-bottom: 5px;
}
.modify-icon {
  color: black !important;
  position: absolute;
  top: 120px;
  right: 80px;
  cursor: pointer;
}
.show-icons {
  display: flex;
  justify-content: space-between;
}
