.btn-delete {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #DDA15E;
  border-color: #DDA15E;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bolder;
  // margin-left: auto;
  // margin-right: auto;
}
.btn-update {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #B5838D;
  border-color: #B5838D;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bolder;
  // margin-left: auto;
  // margin-right: auto;
}
.btn-complete a {
  color: white;
}
