<footer class="footer">
  <div class="footer-nav">
     <%= link_to root_path do %>
     <i class="fas fa-home"></i>
    <% end %>
     <%= link_to appointments_path do %>
     <i class="far fa-calendar"></i>
    <% end %>
     <%= link_to root_path do %>
     <i class="far fa-envelope"></i>
    <% end %>
     <%= link_to profile_path(current_user) do %>
     <i class="far fa-user"></i>
    <% end %>
  </div>
</footer>
