<footer class="footer">
  <div class="footer-nav">
      <a href="#"><i class="fas fa-home"></i> Accueil</a>
      <a href="#"><i class="far fa-calendar"></i> Calendrier</a>
      <a href="#"><i class="far fa-envelope"></i> Messagerie</a>
      <a href="#"><i class="far fa-user"></i> Profil</a>
  </div>
</footer>
