.footer {
  background-color: #ffffff;
  color: #777777;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav a {
  color: #777777;
  text-decoration: none;
}

.footer-nav a i {
  margin-right: 5px;
  color: $medium-gray;
}

.footer-nav a.active i {
  color: #fadfb9;
}

.margin-footer {
  margin-bottom: 40px;
}

.hidden {
  display: none;
}
