.footer {
  background-color: $gray;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
}

.footer-nav a i {
  margin-right: 5px;
}
