@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// @import "flatpickr/dist/themes/airbnb";
// @import "/flatpickr/dist/l10n/fr.ts";

// Your CSS partials
@import "components/index";
@import "devise/devise_forms";

.welcome-container {
  background-color: #ecfaf6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-container {
  text-align: center;
}

.logo {
  max-width: 80%;
  max-height: 80vh;
}

@media screen and (max-width: 428px) {
  .logo {
    max-width: 70%;
  }
}
